<!DOCTYPE html>

@model NGODP.Models.ApplicationForm

<html>
<head>
   <title>Application Form</title>

   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" href="#">

      <link rel="stylesheet" href="~/_Assets/bootstrap/css/bootstrap.min.css">
   <script src="~/_Assets/bootstrap/js/bootstrap.min.js"></script>


   <style>
      .container{
         padding-top: 3em;
      }
      .title{
         padding-top: 2em;
         padding-bottom: 2em;
      }
      form{
         max-width: 330px;
         }
      input{
         padding: 10px;
         width: 100%;
      }
      .input{
          font-weight: bold;
      }
   </style>
</head>

<body>
    <div class="container">

        <div class="row mb-3">
            <span>Reference Number: &nbsp; &nbsp; </span>
            <span><b> @Model.RefNo </b></span>
        </div>

        <div class="row">
            <div class="col-md-2 order-md-1">
                <img src="~/images/norsu.png" alt="NORSU Logo" style="width: 150px; height:150px;">
            </div>
            <div class="col-md-9 order-md-2">
                <div class="row mb-0 ml-3 text-muted">
                
                    <div class="col-md-3">
                        <span>RA 9299</span>
                    </div>
                    <div class="col-md-4">
                        <span>Republic of the Philippines</span>
                    </div>
                    <div class="col-md-3">
                        <span>June 25, 2004</span>
                    </div>
                </div>
        
                <div class="row ml-5">
                    <h1 class="col-md-12 mb-0">Negros Oriental State University</h1>
                </div>
        
                <div class="row mb-0 ml-5 text-muted">
                   
                    <div class="col-md-3">
                        <span>NOPS (1907)</span>
                    </div>
                    <div class="col-md-3">
                        <span>NOTS (1927)</span>
                    </div>
                    <div class="col-md-3">
                        <span>EVSAT (1956)</span>
                    </div>
                    <div class="col-md-3">
                        <span>CVPC (1983)</span>
                    </div>
                </div>
        
                <div class="row ml-3 mb-4">
                        <label class="col-md-12 mt-0 mb-3">Guihulngan Campus, Guihulngan City, Negros Oriental, Philippines 6214</label>
                        <h6 class="col-md-12 mb-0 text-center">OFFICE OF THE ASSISTANT REGISTRAR</h6>
                        <h4 class="col-md-12 mb-0 text-center"><u>APPLICATION FOR DOCUMENTS</u></h4>
                </div>
            </div>
        </div>

        <div class="row mb-0">
            <div class="row col-md-4">
                <label>Date of Filing:</label>
                <u><label class="ml-3"><b><u> @Model.FilingDate </u></b></label></u>
            </div>
            <div class="row col-md-4">
                <label>Date Due:</label>
                <u><label class="ml-3"><b><u> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </u></b></label></u>
            </div>
            <div class="row col-md-4">
                <label>Received by:</label>
                <u><label class="ml-3"><b><u> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </u></b></label></u>
            </div>
        </div>

        <div>
            <hr>
        </div>
        
        <div class="row mb-1 text-muted">
            <label><b><u>PERSONAL INFORMATION</u></b></label>
        </div>

        <div class="row">
            <div class="col-md-9 order-md-1">
                <div class="row">
                    <div class="row col-md-2">
                        <label>Name:</label>
                    </div>
                    <div class="row col-md-10">
                        <b> @Model.Name </b>
                    </div>
                </div>
                <!-- <div class="row mb-4">
                    <i>(NOTE! Use <u>MAIDEN NAME</u> if <u>FEMALE</u> students is still <u>SINGLE</u> during her stay in the University.)</i>>
                </div> -->
                <div class="row">
                    <div class="row col-md-2">
                        <label>Gender:</label>
                    </div>
                    <div class="row col-md-10">
                        <b> @Model.Gender </b>
                    </div>
                </div>
        
                <div class="row">
                    <div class="row col-md-2">
                        <label>Civil Status:</label>
                    </div>
                    <div class="row col-md-10">
                        <b> @Model.CivilStat </b>
                    </div>
                </div>
        
                <div class="row">
                    <div class="row col-md-2">
                        <label>Birthdate:</label>
                    </div>
                    <div class="row col-md-10">
                        <b> @Model.BDate </b>
                    </div>
                </div>
                <div class="row">
                    <div class="row col-md-2">
                        <label>Birthplace:</label>
                    </div>
                    <div class="row col-md-10">
                        <b> @Model.BPlace </b>
                    </div>
                </div>
                <div class="row">
                    <div class="row col-md-2">
                        <label>Address:</label>
                    </div>
                    <div class="row col-md-10">
                        <b> @Model.Address </b>
                    </div>
                </div>
                <div class="row">
                    <div class="row col-md-2">
                        <label> Mobile No.: </label>
                    </div>
                    <div class="row col-md-5">
                        <label><b> @Model.Mobile </b></label>
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="row col-md-2">
                        <label> Email: </label>
                    </div>
                    <div class="row col-md-3">
                        <label><b> @Model.Email </b></label>
                    </div>
                </div>
            </div>
            <div class="col-md-3 order-md-2">
                <div style="width: 200px; height:200px;" class="img-thumbnail bg-light text-center">
                    <span class="mt-5">
                        ATTACH 2X2 <br> COLORED PICTURE <br> WHITE BACKGROUND <br><b>(FOR TOR REQUEST ONLY)</b>
                    </span>
                </div>
                <div class=" mt-0 pt-0">
                    <hr>
                    <span><i>Signature Over Printed Name</i></span>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>

        <div class="row mb-1 text-muted">
            <label><b><u>ACADEMIC INFORMATION</u></b></label>
        </div>

        <div class="row mb-1">
            <div class="row col-md-8">
                <label><b> COURSE: @Model.Course </b></label>
            </div>
            <div class="row col-md-4">
                <label><b> MAJOR: @Model.Major </b></label>
            </div>
        </div>    
        <div class="row">
            <div class="row col-md-2">
                <label>Elementary:</label>
            </div>
            <div class="row col-md-10">
                <b> @Model.Elementary </b>
            </div>
        </div>
        <div class="row">
            <div class="row col-md-2">
                <label>Secondary:</label>
            </div>
            <div class="row col-md-10">
                <b> @Model.Secondary </b>
            </div>
        </div>
        <div class="row mb-3">
            <div class="row col-md-2">
                <label>College:</label>
            </div>
            <div class="row col-md-10">
                <b> @Model.College </b>
            </div>
        </div>
                           

        <div class="row">
            <div class="row col-md-3">
                <label>DOCUMENT REQUESTED:</label>
            </div>
            <div class="row col-md-9">
                <b> @Model.Type </b>
            </div>
        </div>

        <!-- <div class="row table-bordered mb-4">
            <label>NAME:</label>
        </div>     -->

        <div class="row mb-3">
            <div class="row col-md-3">
                <label>PURPOSE OF REQUEST:</label>
            </div>
            <div class="row col-md-9">
                <b> @Model.Purpose </b>
            </div>
        </div>

        <div class="row mb-0 text-muted">
            <h7><b><u>IMPORTANT</u></b></h7>
            <br>
        </div>
    
        <div class="row mb-2">
            <ul class="mb-0">
                <li><small>Please <b>RETURN</b> this form in the Office of the Assistant Registrar (Information Window) upon payment at the Cashier's Office <b>TOGETHER WITH THE REQUIREMENTS.</b></small></li>
                <li><small>Please submit a<b>DOCUMENTARY STAMP</b> when requiring for Transcript of Records and Certification.</small></li>
                <li><small>Please attach <b>AUTHORIZATION LETTER</b> for documents to be claimed by a second person.</small></li>
            </ul>
            <hr>
        </div>

        <!-- <div class="row mb-0">
            <hr>
        </div> -->

        <!-- <div class="row mb-0">
            <label><i>Form 1 Application for Documents</i></label>
        </div> -->

        <div>
            <hr>
            <hr>
        </div>

        <div class="row mb-2 mt-4">
            <div class="col-md-6">
                <div class="row">
                    <h4 class="my-0">NEGROS ORIENTAL STATE UNIVERSITY</h4>
                </div>
                <div class="row">
                    <small>Guihulngan City Campus</small> 
                </div>
                <div class="row">
                    <small>6214 Guihulngan City, Negros Oriental</small> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h3 class="my-0">DOCUMENT CLAIM STUB</h3>
                </div>
                <div class="row">
                    <label><u>Present this portion when claiming the requested document</u></label>
                </div>        
            </div> 
        </div>

        <div class="row mb-4 mt-4">
            <div class="row col-md-6">
                <label>NAME: &nbsp; &nbsp; </label>
                <span class="h5"><b> @Model.Name </b></span>
            </div>
            <div class="row col-md-6">
                <label>COURSE: &nbsp; &nbsp; </label>
                <span class="h5"><b> @Model.Course </b></span>
            </div>
        </div>

        <div class="row">
            <small>
                If records on file are complete and in proper order, the document applied for will be <u>released to you or your duly authorized representative</u> with <b>AUTHORIZATION LETTER</b>.
            </small>
        </div>

        <div class="row">
            <small><b><i><u>NOTE:</u></i></b></small>
        </div>

        <div class="row">
            <ol>
                <li><small> For non-personal appearance, TOR will only be released to the person with the proper Authorization Letter. Even request of parents without proper <b>AUTHORIZATION LETTER</b> will not be accommodated.</small></li>
                <li><small><b>CLEARANCE IS REQUIRED</b>for requests for Transcript of Records, Diploma, and Honorable Dismissal.</small></li>
            </ol>
        </div>
    
        <div class="row mb-1">
            <div class="row col-md-3">
                <span>DOCUMENT TYPE:&nbsp; <b><u>@Model.Type</u></b></span>
            </div>
            <div class="row col-md-3">
                <label>DATE RELEASE:&nbsp; <b><u></u></b></label>
            </div>
            <div class="row col-md-4 mr-1">
                <label>RECEIVED BY:&nbsp; <b><u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </u></b></label>
            </div>
            <div class="row col-md-2">
                <label>DATE:&nbsp; <b><u>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </u></b></label>
            </div>
        </div>    

        <div class="row mb-1">
            <div class="col-md-2">
                <input type="radio" class="form-control custom-control-input">
                <label><b>Lacking Files: </b></label> 
            </div>
            <div class="col-md-2">
                <input type="radio" class="custom-control-input">
                <label>NSO Photocopy</label>
            </div>
            <div class="col-md-2">
                <input type="radio" class="custom-control-input">
                <label>2x2 Picture</label>
            </div>
            <div class="col-md-2">
                <input type="radio" class="custom-control-input">
                <label>Documentary Stamp</label>
            </div>
            <div class="col-md-2">
                <input type="radio" class="custom-control-input">
                <label>Long Expanded Envelope (Brown)</label>
            </div>
        </div>   

        <!-- <div class="row mb-0">
            <label><i>Form 1 Application for Documents</i></label>
        </div> -->
    
    </div>
</body>
</html>